[submodule "content/themes/casper"]
	path = content/themes/casper
	url = git://github.com/TryGhost/Casper.git
[submodule "content/themes/haze"]
	path = content/themes/haze
	url = https://github.com/khsing/Haze.git
